body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

section {
  padding: 40px 20px;
  margin: 20px auto;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

section p,
section address,
section ul {
  font-size: 16px;
  color: #666;
  text-align: center;
  margin: 0 auto 20px auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}


@media (max-width: 768px) {

  section {
    padding: 20px;
  }

}